name: Check code style

on:
  push:
  pull_request:
  repository_dispatch:
    types: [trigger-php-cs-fixer]

permissions:
  contents: read

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Check code style
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --allow-risky=yes

